/* les bases */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
/*Police , taille ,couleur de fond de la page et alignement du texte */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: white;
    margin: 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 2.5) ;
     
}
/*Barre de menun , accueil ,about etc ..*/
.navbar{
    display: column;
    text-align: center;
}
.navbar {
    background-color: #f1f1f1;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    display: inline-block;
  }
  
  .navbar a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
a {
    text-decoration: none;
} 
/*Taille des images */
img {
    max-width: 100%;
    height: auto;

}

/*Mise des liste avec la balise ul ou li*/
.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    padding: 1rem 2rem;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Présentation page d'accueil*/
.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .grid_item .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .grid_item .card img {
    width: 100%;
    height: auto;
  }
  
  .grid_item {
    width: 100%;
  }
  

  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .project-item {
    display: inline-block;
    text-align: center;
    margin: 10px;
    flex-direction: column;
  }
  
  .project-item img {
    width: 10%;
    height: auto;
  }
  
  .project-title {
    margin-top: 10px;
  }
  


























@media screen and (min-width: 750px) {
    
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;
    }
    .grid_item {
        max-width: 50%;
    }
    
}

/* sections */

section {
    padding: 5.5rem a;
}

.section .title {
    text-transform: uppercase;
}
.header{
    background: indigo;
    border-bottom: 1px solid white;
}



.header .logo {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    letter-spacing: 2px;
    background-color: rgba(75, 0, 130, 29); /* Fond semi-transparent avec 50% d'opacité */
    text-decoration-color: white;
}

.header li {
    display: inline-flex;
    align-items: center;
    padding: 0  .5rem;
}
.header  a{
    color: blue;
}
.header a:hover {
    color: red;
}

.header .right {
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
}
.socials a {

}
.socials .icon {
    float: right;
    height: 18px;

}

.burger {
    display: none;

}
.moi{
    background:black;
    color:white;
    padding: 10px;
}

.moi .grid {
    justify-content: center;
}
/*Mise en forme du Profil /Accueil */
.moi__item{
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    align-items: center;
    text-align: center;

}


@media screen and (max-width:750px) {
    .moi__item .left {
        order: 2;
    }
    .moi__item .right {
        order: 1;
    }
}
@media screen and (min-width:750px) {

    .moi__item{
        flex: 1 0 50%;
        align-items: flex-start;
        text-align: left;
    }
    .moi .title {
        font-size: 3rem ;
    }
    .moi__avatar img {
        border-radius: 60%;
    }
    
}

.toto{

}
@media screen and (min-width:768px) {

}