/* les bases */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6rem;
    color: #555;
    margin: 0;
    text-align: center;
     
}

a {
    text-decoration: none;
} 
img {
    max-width: 100%;
}
.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.container{
    padding: 1rem 2rem;
}
.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid_item {
    width: 100%;
}
.navbar{
    display: none;
}

@media screen and (min-width: 750px) {
    
    .container {
        max-width: 900px;
        margin: 0 auto;
        padding: 2rem;
        background:white;
    }
    
}

/* sections */

.header{
    background: indigo;
    border-bottom: 1px solid white;
}



.header .logo {
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 1000;
    font-size: 2rem;
    letter-spacing: 2px;
    background:turquoise;
}

.header li {
    display: inline-flex;
    align-items: center;
    padding: 0  .5rem;
}
.header  a{
    color: blue;
}
.socials .icon {
    float: right;
    height: 18px;

}

.burger {
    display: none;

}